:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

*,
body,
a {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#logo {
    top: 5%;
    left: 6%;
    width: 10%;
    display: block;
    position: absolute;
    z-index: 1;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background-color: var(--background);
    align-items: center;
}

.login {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Roboto";
    position: absolute;
    width: 30%;
    left: 8%;
    height: 60%;
    background-color: var(--form-background);
    color: var(--text-title);
}

.div-login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.login img {
    width: 15%;
    height: 40%;
}

.login-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

label {
    padding: 10px 0;
}

.input {
    border-radius: 3px;
    width: 95%;
    padding: 3% 3%;
    cursor: pointer;
    border: 1px solid var(--text-base);
    background-color: var(--form-background);
    color: var(--text-title);
}

.input:focus {
    border: 3px solid var(--primary-color)
}

.forgot {
    color: var(--primary-color);
    font-weight: bold;
    margin-left: 10%;
}

.remember {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
}

#remember {
    margin-right: 3%;
}

.register {
    color: var(--primary-color);
}

.image-container {
    display: flex;
    flex-direction: column;
    background-image: url("/public/side-image.jpg");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0px;
}

button {
    background-color: var(--primary-color);
    font-weight: bold;
    font-family: "Roboto";
    border-radius: 5px;
    text-transform: uppercase;
    padding: 2% 25%;
    cursor: pointer;
}

@media(max-width: 414px) {
    .image-container {
        display: none;
    }
    .login {
        width: 80%;
        height: 80%;
        left: 10%;
        display: flex;
        background-color: var(--background);
    }
    #logo {
        width: 60%;
        left: 20%;
    }
}